.loginContainer{
    background-image: url("loginbackground.jpg");
    display: flex;
    width: 100vw;
    height:100vh;
}
.loginWrapper{
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginLeft{
    padding: 50px;
    flex: 7;
}
.title{
    color: black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
.content{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
.logoImg{
    width: 50%;
    height : 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
}


.loginRight{
    flex: 5;
    align-items: center;
    background-color: #FDFCE5;
    padding: 100px 50px;
    border-radius: 7px;
}
.loginRightBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.usernameText{
    margin: 20px 0px;
    position: relative;
    bottom: 20px;
    width: 70%;
    height: 40px;
}
.passwordText{
    width: 70%;
}
.loginButton{
    margin: 20px 0px;
    width: 60%;
    height: 50px;
    border-radius: 6px;
    background-color: #F806CC;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 20px;
}
.loginButton:hover{
    background-color: #570A57;
}

.registerButton{
    margin: 20px 0px;
    width: 60%;
    height: 50px;
    border-radius: 6px;
    background-color: #06FF00;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 20px;
}

.registerButton:hover{
    background-color: #064635;
}
