.loginContainertemp{
    background-image: url("loginbackground.jpg");
    display: flex;
    width: 100vw;
    height:100vh;
}
.loginWrapper{
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginLeft{
    padding: 50px;
    flex: 7;
}
.titletemp{
    color: black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
.contenttemp{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
.logoImg{
    width: 50%;
    height : 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
}


.loginRight{
    flex: 5;
    align-items: center;
    background-color: #FDFCE5;
    padding: 100px 50px;
    border-radius: 7px;
}
.loginRightBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usernameTexttemp{
    width: 70%;
    height: 40px;
    margin-bottom: 18px;
}
.emailTexttemp{
    width: 70%;
    height: 40px;
}
.passwordTexttemp{
    width: 70%;
    height: 40px;
}
.confirmPasswordTexttemp{
    width: 70%;
    height: 40px;
}
.registerButtontemp{
    margin: 20px 0px;
    width: 60%;
    height: 50px;
    border-radius: 6px;
    background-color: #06FF00;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 20px;
}
.registerButtontemp:hover{
    background-color: #064635;
}

.loginButtontemp{
    margin: 20px 0px;
    width: 60%;
    height: 50px;
    border-radius: 6px;
    background-color: #F806CC;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 20px;
}
.loginButtontemp:hover{
    background-color: #570A57;
}